.Footer
  p
    span tala.islensku is an experimental project by&nbsp;
      a(href="http://davidblurton.com" target="_blank") David Blurton
      | .
  p
    span Follow&nbsp;
      a(href="https://twitter.com/talaislensku") @talaislensku
      |  for updates.
