.Hero {
  font-size: 1.5rem;
  padding: 1rem 2rem 4rem;

  @media @tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -100px;
  }

  .Hero-headline {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 6rem;
    padding: 0 2rem;
    text-align: center;

    @media @tablet {
      text-align: left;
      width: 50%;
    }

    @media @desktop {
      font-size: 3rem;
    }
  }

  .Hero-demo {
    @media @tablet {
      background-image: url(/iphone.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      height: calc(1763px / 2);
      position: relative;
      width: calc(865px / 2);
    }
  }

  .Hero-gif {
    margin: 0 -2rem;
    width: 100vw;

    @media @tablet {
      left: 60px;
      margin-top: -295px;
      position: absolute;
      top: 50%;
      width: 85%;
    }
  }

  .blue {
    color: @blue;
  }
}
