.Hero {
  font-size: 1.5rem;
  background-color: @grey;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .Hero-headline {
    width: 50%;
    line-height: 1.2;
    padding-right: 1rem;
  }

  .Hero-demo {
    width: 50%;
    padding-left: 1rem;

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  .blue {
    color: @blue;
  }
}
