.Logo {
  display: inline-block;
  background: no-repeat url(logo.svg);
  background-size: cover;
  width: 267px;
  height: 49px;
}

.Logo-title {
}

.Header.container {
  max-width: none;
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;

  @media @tablet {
    text-align: left;
    max-width: 960px;
  }
}
