extends ./layout.jade
block content

  .content
    include ./includes/logo.jade

    .Hero
      .Hero-headline
        h1
          span.blue tala.is
          | lensku is a new way to explore Icelandic&nbsp;words.
      .Hero-demo
        .Hero-gif

    .Takedown
      .container
        p
          .lead Unfortunately, the licence for this data doesn't allow us to show the words forms, so you can't use this tool!

        p Making this data freely available would make it possible for developers create new tools for Icelandic.

        p Please support us as we campaign to make this data freely available to everyone.

    .Features
      .container
        h1 What can do with tala.islensku?
        .Feature
          h2 See how words relate to each other
          p Find the right adjective form that matches a noun.
        .Feature
          h2 Available in multiple languages
          p tala.islensku is available in English and Icelandic, with support for Spanish and Polish coming soon!
        .Feature
          h2 Search as you type
          p Quickly find what you're looking for, and jump directly to related words.

    .SignUp
      .container
        p Please sign up if you'd like to use this site.
