doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='tala.islensku is a new way to discover Icelandic words.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:title' content='tala.is | Discover Icelandic words')
    meta(property='og:type' content='website')
    meta(property='og:image' content='http://tala.is/logo.png')
    meta(property='og:image:type' content='image/png')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='630')
    meta(property='og:url' content='https://tala.is')
    meta(property='og:description' content='tala.islensku is a new way to discover Icelandic words')
    title tala.is | Discover Icelandic words
    link(rel='stylesheet', href='/css/main.css')
    link(href='//fonts.googleapis.com/css?family=Roboto+Slab:700,300' rel='stylesheet' type='text/css')
    link(rel="icon" type="image/x-icon" href="favicon.ico")

  body
    .content
      include ./includes/logo.jade

    .Hero
      h1.Hero-headline
        span.blue tala.is
        | lensku is a new way to discover Icelandic words.
      .Hero-demo
        img.Hero-gif.en(src="demo_en.gif" alt="Tala.is app")

    .Takedown
      .container
        p.lead This site has been closed down indefinitely due to licensing restrictions.

        p #[strong tala.is]lensku uses publicly funded data from&nbsp;
          a(href="http://bin.arnastofnun.is/DMII/" title="Beygingarlýsing íslensks nútímamáls") BÍN
          |, but the licence doesn’t allow us to display the word forms.

        p Making this data freely available would make it possible for developers to create new tools that could help foreigners and Icelanders alike.

        p We want to see this data made available under a&nbsp;
          a(href="https://creativecommons.org/licenses/" target="_blank") creative commons licence
          | .

    .SignUp
      .container
        h2 We need your help
        p #[strong tala.is]lensku works right now as demonstrated. If you would find it useful please sign up and help us re-launch it.
        include ./includes/mailchimp.html

    .Footer
      p
        span tala.islensku is an experimental project by&nbsp;
          a(href="http://davidblurton.com" target="_blank") David Blurton
          | .
      p
        span Follow&nbsp;
          a(href="https://twitter.com/talaislensku") @talaislensku
          |  for updates.
