doctype html
html(lang="is")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='tala.islensku er ný leið til að fletta upp orðum og beygingum.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:title' content='tala.is')
    meta(property='og:type' content='website')
    meta(property='og:image' content='http://tala.is/logo.png')
    meta(property='og:image:type' content='image/png')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='630')
    meta(property='og:url' content='https://tala.is')
    meta(property='og:description' content='tala.islensku er ný leið til að fletta upp orðum og beygingum.')
    title tala.is
    link(rel='stylesheet', href='/css/main.css')
    link(href='//fonts.googleapis.com/css?family=Roboto+Slab:700,300' rel='stylesheet' type='text/css')
    link(rel="icon" type="image/x-icon" href="favicon.ico")

  body
    .content
      include ./includes/logo.jade

    .Hero
      h1.Hero-headline
        span.blue tala.is
        | lensku er ný leið til að fletta upp orðum og&nbsp;beygingum.
      .Hero-demo
        img.Hero-gif.is(src="demo_is.gif" alt="Tala.is app")

    .Takedown
      .container
        p.lead Þessi vefur er lokaður ótímabundið þar sem hann uppfyllir ekki skilmála.

        p Vefurinn notar orðagrunn frá&nbsp;
          a(href="http://bin.arnastofnun.is/DMII/" title="Beygingarlýsing íslensks nútímamáls") BÍN
          |. Þó svo að öll vinna sem fór í að byggja hann hafi verið fjármögnuð með skatttekjum, þá er ekki leyfilegt að endurbirta beygingarmyndir orða samkvæmt skilmálum.

        p Það að gera þessi gögn opin án takmarkanna mun hagnast öllum, bæði þeim sem vilja byggja á þeim og neytendum.

        p Því leggjum við til að þessi gögn verði opnuð undir&nbsp;
          a(href="https://creativecommons.org/licenses/" target="_blank") creative commons
          |  leyfinu.

    .SignUp
      .container
        h2 Við þurfum þína hjálp
        p #[strong tala.is]lensku virkar nú þegar eins og sýnt er. Ef þú heldur að þú myndir nota vefinn og hefur áhuga á að fylgjast með framþróun mála, þá máttu endilega skrá þig hérna og hjálpa okkur að koma honum í loftið aftur.

        include ./includes/mailchimp-is.html

    .Footer
      a.Footer-lang(href="/english") English
      p
        span tala.islensku er verkefni eftir&nbsp;
          a.Footer-link(href="http://davidblurton.com" target="_blank") David Blurton
          | .
      p
        span Fylgstu með&nbsp;
          a.Footer-link(href="https://twitter.com/talaislensku") @talaislensku
