extends ./layout.jade
block content

  .content
    include ./includes/logo.jade

    .Hero
      .Hero-headline
        h1
          span.blue tala.is
          | lensku is a new way to explore Icelandic words.
      .Hero-demo
        img(src="https://s3.amazonaws.com/f.cl.ly/items/0b3L1q1K3B3G19302r0M/Screen%20Recording%202016-03-06%20at%2010.51%20pm.gif?v=534a5e77")

    .Takedown
      .container
        p Unfortunately, the licence for this data doesn't allow us to show the words here.

        p

        p Please support us as we campaign to make this data freely available to all.

    .Features
      .container
        .Feature
          h2 See how words relate to each other
          p Find the right adjective form that matches a noun.
        .Feature
          h2 Available in multiple languages
          p tala is available in English and Icelandic, with support for Spanish and Polish coming soon!
        .Feature
          h2 Search as you type
          p Quickly find what you're looking for, and jump directly to related words.

    .SignUp
      .container
        p Please sign up if you'd like to use this site.
